@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-lg-12">
                <div id="map-container-google-2" class="z-depth-1-half map-container" style="margin-top:30px; margin-bottom:30px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3925.209652463167!2d123.95050990984863!3d10.325100067315315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a9984556417115%3A0x8578d051dbbdf9e0!2sUniversity%20Of%20Cebu%20-%20Lapu-Lapu%20and%20Mandaue!5e0!3m2!1sen!2sph!4v1714750749064!5m2!1sen!2sph" style="height:200px; width:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="contact-info-wrapper">
                    <h3 class="contact-info-title">Contact Information</h3>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-location-pin"></i></span>
                        <div class="media-body">
                            <h3>A. C. Cortes Ave, Mandaue City, 6014 Cebu</h3>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>JobAll@Website.com</h3>
                            <p>Feel free to send us an email anytime!</p>
                        </div>
                    </div>
                    <div class="media">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3>+63 967 401 9891</h3>
                            <p>Mon to Fri 9am to 6pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>